{% extends 'base.html.twig' %} 
 
{% block title %}Hello MainController!{% endblock %} 
 
{% block body %} 
 
<div class="container"> 
    <h1 style="margin-left:auto;margin-right:auto;width:300px">Список книг</h1> 
 
    {% for book in books %} 
        <div class="border-1 border border-dark rounded-1 m-3 d-flex flex-column"> 
            <div class="justify-content-between flex-row d-flex mb-2 p-1"> 
                <a class="text-decoration-none text-reset text-muted" href="{{ path("app_book", {id:book.id}) }}">Название: {{ book.name }}</a> 
                <div class="text-wrap">Дата прочтения: {{ book.date|date("Y-m-d") }}</div> 
            </div> 
            <div class="justify-content-between flex-row d-flex p-1"> 
                {% if app.user != null %} 
                    {% if app.user == book.reader %} 
                <a href="{{ path("edit", {id: book.id}) }}"><div class="btn btn-black bg-yellow">Редактировать</div></a> 
                <a href="{{ path("delete", {id: book.id}) }}"><div class="btn btn-black bg-secondary">Удалить</div></a> 
                    {% endif %} 
                {% endif %} 
            </div> 
        </div> 
 
    {% endfor %} 
</div> 
 
{% endblock %}